body {
  color: #0057b7;
  font-size: 0.95rem;
  font-family: "IBM Plex Sans", sans-serif;
}
a {
  color: #0057b7;
}
a.btn-primary {
  background-color: #0057b7;
  border-color: #0057b7;
}
a.btn-primary:hover {
  background-color: #004c91;
  border-color: #004c91;
}
a.btn-outline-primary {
  color: #0057b7;
  border-color: #0057b7;
}
a.btn-outline-primary:hover {
  background-color: #004c91;
  border-color: #004c91;
}
a.btn-outline-light:hover {
  color: #0057b7;
}

ul.dashed {
  list-style-type: none;
}
ul.dashed li:before {
  content: "-";
  position: absolute;
  margin-left: -20px;
}

header {
  text-align: right;
}
header a {
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
header .languageSwitch a:not(:last-child) {
  border-right: 1px solid #cfcfcf;
  display: inline-block;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}
header .languageSwitch a.current {
  color: #cfcfcf;
}

small {
  font-size: 0.65rem;
  line-height: 0.1rem;
}

span.textHighlight {
  background-color: #ffd700;
  padding: 0 0.2rem;
}

div.textHighlight {
  background-color: #ffd700;
  padding: 0.5rem;
  font-size: 1.05rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.mainNavigation a.btn {
  width: 360px;
  max-width: 100%;
}

h2 span.textHighlight {
  background-color: #ffd700;
  padding: 0 0.4rem;
}

.pageSectionBackground {
  background-color: #0057b7;
  color: white;
}
.pageSectionBackground span.textHighlight {
  color: #0057b7;
}
.pageSectionBackground h2 {
  color: #0057b7;
}
.pageSectionBackground a {
  color: white;
}
.pageSectionBackground .cardWhite {
  color: #0057b7;
  background-color: white;
  padding: 2rem 1rem 1.4rem;
}

.gpbTable td:first-child {
  padding-right: 1.6rem;
}
.logoGpb {
  display: inline-block;
}
.logoGpb img {
  width: 120px;
}

.logoTelegram {
  display: inline-block;
}

.logoTelegram img {
  width: 40px;
}

.pageSectionLight {
  background-color: #f7fbff;
}

.pageSection {
  padding: 4rem 0 3.6rem;
}

@media (min-width: 992px) {
  .sectionHero {
    padding-top: 1rem;
  }
  .sectionHero .heroText h1 {
    font-size: 5.4rem;
    background: url(../img/icon_star.svg) no-repeat;
    font-weight: bold;
    padding: 4rem 0 0 5.8rem;
  }
  .sectionHero .heroText img {
    width: 140px;
  }
  .sectionHero .heroText h4 {
    padding-left: 5.8rem;
  }
}
@media (max-width: 991px) {
  .sectionHero {
    padding-top: 2rem;
  }
  .sectionHero .heroText h1 {
    font-weight: bold;
    font-size: 2.8rem !important;
  }
  .sectionHero .heroText img {
    width: 140px;
  }
}

.iconLatvia {
  width: 200px;
}
.offerHelpNavigation a.btn {
  width: 370px;
  max-width: 100%;
}

.preparationList li::marker {
  font-size: 1.2rem;
}

.startupList li::marker {
  font-size: 0.8rem;
}

footer {
  background-color: #dee9f6;
  font-size: 0.7rem;
  padding: 2.4rem 0 2rem;
}

@media (max-width: 991px) {
  .mdToCenter {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .mdToLeft {
    text-align: left !important;
  }
}

.inlineHeading {
  display: inline-block;
  margin-bottom: 0;
}

/* ibm-plex-sans-regular - latin-ext_latin_cyrillic-ext_cyrillic */
/* ibm-plex-sans-regular - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#IBMPlexSans")
      format("svg"); /* Legacy iOS */
}
/* ibm-plex-sans-500 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-500.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-500.svg#IBMPlexSans")
      format("svg"); /* Legacy iOS */
}
/* ibm-plex-sans-600 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-600.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-600.svg#IBMPlexSans")
      format("svg"); /* Legacy iOS */
}
/* ibm-plex-sans-700 - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/ibm-plex-sans-v13-latin-ext_latin_cyrillic-ext_cyrillic-700.svg#IBMPlexSans")
      format("svg"); /* Legacy iOS */
}
